<section class="footer py-5" id="contact">
    <div class="container-fluid" style="margin: -12px 0px 0px 9px;">
        <div class="row" style="margin-top: 0 !important;">
            <div class="col-lg-6 col-md-6">
               <address><i class="bi bi-buildings"></i>
                 <span class="orgaddress">Atma Nirbar Farm Markting Office : <br>
                   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;#827, 4th main, 2nd stage, near hanumagiri temple, Nagarbhavi,<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Bengaluru – 560072
                 </span>
               </address>
               <address><i class="bi bi-buildings"></i>
                <span class="orgaddress">Atma Nirbar Farm (Nandi Goshala) : <br>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Puradapalya, Tavarekere, Bengaluru Rural.
                </span>
              </address>
               <h5>Contact us :</h5>
               <p style="margin-left: 15px;"><span style="font-size: 15px;"><i class="bi bi-telephone-fill"></i></span> +91 :&nbsp;&nbsp;9972808044</p>
               <p style="margin-left: 15px;"><span swstyle="font-size: 18px;"><i class="bi bi-envelope-at-fill"></i></span>&nbsp;&nbsp;<a style="cursor: pointer; color: white;" href="mailto:atmanirbharfarm@gmail.com">atmanirbharfarm@gmail.com</a></p>
            </div>
            <div class="col-lg-6 col-md-6">
               <div class="socialmediacontents">
                 <h4>Social Media</h4>
                 <p class="line"></p>
                 <div class="socialmediaicons">
                    <a href=""<i class="bi bi-instagram"></i>
                    <i class="bi bi-facebook"></i>
                    <i class="bi bi-whatsapp"></i>
                 </div>
               </div>
               
            </div>
            <div class="copyrights">
              <div class="firstline">Copyright (&#169;) 2024-2027| Athmanirbhar Farm| All Rights Reserved</div>
              <div class="secondline">Designed by <a href="https://www.smartariser.in" style="color: white; text-decoration: underline;">smartariser.in</a></div>
           </div>
        </div>
    </div>
</section>