<%layout('./layouts/boilerplate')%>
<body>
    <section class="about py-5">
        <div class="container py-5">
            <div class="row py-5">
                <div class="col-lg-5 py-5 offset-lg-7 col-md-6 col-sm-12 col-12">
                    <p class="nthchild1 m-0">Organic Products</p>
                    <h1 class="aboutatmanirbarfarm">About Atmanirbhar Farm</h1>
                    <div class="line my-4"></div>
                    <p class="nthchild2">At Atma Nirbhar Farm, we are dedicated to fostering self-reliance in your journey towards 
                        holistic well-being. Nestled amidst serene landscapes and imbued with a spirit of sustainability, our 
                        farm stands as a testament to the harmony between nature and nourishment.
                    </p>
                    <a href="#aboutusreadmore"><button class="mbtn1 mt-4">Read more</button></a>
                </div>
            </div>
        </div>
    </section>
    <section class="about-text offset-1 mt-3">
        <p>
            <b id="aboutusreadmore">About Our Farm:</b><br>
            Year of Establishment: 2018 <br>
            Total covered area: 9 Acres <br>
            No. of Cows: 150+
        </p>
        <p>
            <span style="text-decoration: underline;">Our Philosophy:</span><br>
            Rooted in the ancient wisdom of Ayurveda and inspired by modern sustainable practices, Atma <br>
            Nirbhar Farm is committed to providing you with pure, organic products straight from the source. <br>
            We believe that true wellness begins with what you put into your body, and hence, we meticulously <br>
            cultivate every aspect of our farm to ensure the highest quality produce.
        </p>
        <p>
            <span style="text-decoration: underline;">Our Commitment:</span><br>
            <ul>
                <li>
                    <span style="text-decoration: underline;">Quality Assurance:</span> We uphold the highest standards of quality and hygiene at every step of <br>
                    production,from farm to packaging. Our products undergo rigorous testing to ensure they meet <br>
                    our stringent quality criteria.
                </li>
                <li>
                    <span style="text-decoration: underline;">Ethical Farming:</span> We believe in the humane treatment of animals and follow ethical farming <br>
                    practices to ensure their well-being. Our cows roam freely in open pastures, grazing on lush <br>
                    grass and enjoying a stress-free environment.
                </li>
                <li>
                    <span style="text-decoration: underline;">Sustainability:</span>We are committed to environmental sustainability and strive to minimize our <br>
                     ecological footprint. Through responsible farming practices, water conservation, and waste reduction <br>
                     initiatives, we aim to protect and preserve the natural beauty of our surroundings.
                </li>
                <li>
                    <span style="text-decoration: underline;">Customer Satisfaction:</span>Your satisfaction is our top priority. We are dedicated to providing you<br>
                    with exceptional products and services, and we welcome your feedback and suggestions to continually <br>
                     improve and enhance your experience with us.
                </li>
            </ul>
        </p>
        <p>
            Join us in embracing the essence of purity, sustainability, and community at Atma Nirbhar Farm. <br>
            Explore our range of organic products, immerse yourself in the tranquillity of our surroundings, <br>
            and embark on a journey towards holistic well-being. At Atma Nirbhar Farm, we're not just cultivating <br>
            products; we're cultivating health, naturally.
        </p>
    </section>
</body>

