<%layout('./layouts/boilerplate.ejs')%>
    <body style="overflow-x: hidden;">
        <div class="row mt-3" style="overflow-x: hidden;">
            <div class="alert alert-primary  mt-4 ms-4 erroralert" role="alert">
                <%=message%>
              </div>
              <div style="height: 400px;">

              </div>
        </div>
    </body>
    