<%layout('./layouts/boilerplate')%>
    <style>
        .otp-container {
            display: flex;
            justify-content: center;
            margin-top: 50px;
        }
        .otp-input {
            width: 50px;
            height: 50px;
            margin: 0 5px;
            text-align: center;
            font-size: 24px;
            border: 2px solid #ccc;
            border-radius: 5px;
            transition: border-color 0.3s;
        }
        .otp-input:focus {
            outline: none;
            border-color: #007BFF;
        }
        @media(min-width: 600px){
            .otpverificationbutton{
                margin-left: 36.8rem;
            }
            
        }
        @media(min-width: 350px) and (max-width:420px){
            .otpverificationbutton{
                margin-left: 1.8rem !important;
            }
            .enterotpheading{
                font-size: 17px;
                margin-left: 18px;
            }
            
        }
        @media(min-width: 429px) and (max-width:500px){
            .otpverificationbutton{
                margin-left: 2.8rem !important;
            }
            .enterotpheading{
                font-size: 18px;
                margin-left: 18px;
            }
            
        }
    </style>
<body>
    <h3 class="enterotpheading offset-1 mt-4">Enter the OTP sent to (<%= emailo%>) :</h3
        >
    <form action="/verifyotp" method="POST" id="otp-form">
        <div class="otp-container">
            <input type="text" maxlength="1" class="otp-input" name="otp"/>
            <input type="text" maxlength="1" class="otp-input" name="otp"/>
            <input type="text" maxlength="1" class="otp-input" name="otp"/>
            <input type="text" maxlength="1" class="otp-input" name="otp"/>
            <input type="text" maxlength="1" class="otp-input" name="otp"/>
            <input type="text" maxlength="1" class="otp-input" name="otp"/>
        </div>
        <input type="text" value="<%=emailo%>" name=emailfront hidden>
        <button class="btn btn-success mt-5 mb-3 otpverificationbutton">Verify</button>
    </form>
    <div style="height: 200px;"> </div>
</body>
    <script>
        // Automatically focus on the next input box when a number is entered
        const inputs = document.querySelectorAll('.otp-input');
        inputs.forEach((input, index) => {
            input.addEventListener('input', () => {
                if (input.value.length === 1 && index < inputs.length - 1) {
                    inputs[index + 1].focus();
                }
            });

            input.addEventListener('keydown', (e) => {
                if (e.key === 'Backspace' && input.value === '' && index > 0) {
                    inputs[index - 1].focus();
                }
            });
        });
    </script>

</body>
</html>
