<%layout('./layouts/boilerplate')%>

<body style="overflow-x: hidden;">
    <div class="row" style="margin-top: 100px !important;">
        <h2 class="col-6 offset-1 mb-4">Enter your Registered email:</h2>
        <div class="col-6 offset-3">
            <form action="/forgotpassword" method="POST"  class="needs-validation" novalidate>
            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="text" name="email" placeholder="enter the email" class="form-control" id="email" required>
                <div class="invalid-feedback">
                    Enter valid email id
                </div>
            </div>
            <button class="btn btn-success">Confirm</button>
            </form>
        </div>
    </div>
    <div style="height: 200px;width: 0px;">  </div>
</body>